html, body {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.top {
    height: 60vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.lower {
    height: 40vh;
    width: 100vw;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    flex-direction: column;

}

h2 {
    padding-bottom: 5vh;
}

 h3 {
     padding-top: 5vh;
 }

 h4 {
     padding-top: 3vh;
 }

.b1 {
    height: 10vh;
    width: 30vw;
    background: #1e3c72;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px black solid;
    border-radius: 5px;
    color: white;
    box-shadow: 10px 10px 5px black;
    margin-top: 5vh;
    font-size: 2em;
    transition: all 0.5s;
    display: flex;
    justify-content: center;

}

.b1 span {
    position: relative;
    transition: 0.5s;
}

.b1 span:after {
    content: ' »';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.b1:hover span {
    padding-right: 25px;
}

.b1:hover span:after {
    opacity: 1;
    right: 0;
}